.header{
  grid-area: nav;
  display: flex;
  position: relative;

  align-items: center;


  margin-left: 10rem;
  margin-right: 10rem;

}

.header>img{
  margin: 15px;
  width:215px;
}

.nav{
  position: absolute;
right: 0;
}

.nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}