.header{
  grid-area: nav;
  display: flex;
  position: relative;

  align-items: center;


  margin-left: 4rem;
  margin-right: 10rem;

}
.logo> img{
  width: 400px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2rem;


}

.nav{
  position: absolute;
right: 0;
}

.nav li {
  display: inline-block;
}
.nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav a {
  font-size: 2rem;

  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}