main{
background-color: #f5f5f5;
    display: grid;
    grid-template-areas: "Hero" "Highlight""Testimonial""About";
    grid-template-rows: 35vh 55vh 25vh 25vh;
}

.hero{

    grid-area: Hero;
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem;

}

.hero>.info{
   grid-column: 2 / 6;
    align-self: center;
    color: #fff;
    /* Adjust as needed */

}

.hero>.mainn-img{
    width: 100px;
   grid-column: 11 / 11;


    /* Adjust as needed */
}
.hero>.mainn-img img{

    position: absolute;
    top: 150px;
    width: 250px;
    height: auto;
    border-radius: 5%;
    z-index: 3; /* Adjust as needed to ensure the image is above all other elements */
}
.Hero-Action{

}
.Highlights{
    grid-area: Highlight;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.Highlights>.TitleBox{
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 12;
    grid-row: 2/ 2;
    align-self: center;
    color: #cd0b0b;
}
.HighlightsBox{
    display: flex;
    background-color: #cd0b0b;
    height: 100%;
    grid-column: 2 / 12;
    grid-row: 3 / 10;
    align-self: center;
}