main {
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: "Hero" "Highlight" "Testimonial" "About";
    grid-template-rows: 35vh 55vh 25vh 25vh;
    margin-right: 10rem;
    margin-left: 10rem;
}

.hero {
    grid-area: Hero;
    display: flex;
    justify-content: space-between; /* Add this line */
    background-color: #495E57;
    padding: 2rem;
}

.hero-info {
    width: 50%; /* Corrected the typo from 'witdh' to 'width' */
    margin-left: 5%;
    flex: 1;
    width: 35%; /* Corrected the typo from 'witdh' to 'width' */
    align-self: center;
    color: #fff;
}

.hero-img {
    position: relative;
    width: 50%; /* Corrected the typo from 'witdh' to 'width' */
    margin-right: 10rem; /* Corrected the capitalization from 'Right' to 'right' */
    flex: 1;
}
.hero-img img {
    position: absolute;
    right: 0;
    width: 400px;
    height: auto;
    object-fit: cover;

}



.Highlights {
    grid-area: Highlight;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.TitleBox > h1 {
    color: black;
}

.Highlights > .TitleBox {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 12;
    grid-row: 2 / 2;
    align-self: center;
}

.HighlightsBox {
    justify-content: center;
    display: flex;
    height: 100%;
    grid-column: 2 / 12;
    grid-row: 3 / 10;
    align-self: center;
}