main {
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: "Hero" "Highlight" "Testimonial" "About";
    grid-template-rows: 35vh 55vh 25vh 25vh;

}

.hero {
    grid-area: Hero;
    display: flex;
    justify-content: space-between; /* Add this line */
    background-color: #495E57;
    padding: 2rem;
}

.hero-info {
    width: 50%; /* Corrected the typo from 'witdh' to 'width' */
    margin-left: 5%;
    flex: 1;
    width: 35%; /* Corrected the typo from 'witdh' to 'width' */
    align-self: center;
    color: #fff;

}

.hero-img {
    position: relative;
    width: 50%; /* Corrected the typo from 'witdh' to 'width' */
    margin-right: 10rem; /* Corrected the capitalization from 'Right' to 'right' */
    flex: 1;
}
.hero-img img {
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 500px;
    height: 500px;
    object-fit: cover;
  border-radius: 5%;

}



.Highlights {
    grid-area: Highlight;
    margin: 5rem 10rem 2rem 10rem;

}

.TitleBox > h1 {
    color: black;
}

.Highlights > .TitleBox {
    display: flex;
    justify-content: space-between;

    align-self: center;
}

.HighlightsBox {
    justify-content: center;
    display: flex;
    height: 100%;

    align-self: center;
}