.nav {
    overflow: hidden;

  }


.nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav a {


  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background-color: #535353;
  color: black;
}