.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

img{
  margin: 15px;
  width:215px;
}

.nav{
  display: flex;
}

.nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}